@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* color: #fff; */
	height: 100%;
	width: 100%;
	max-height: 400px;
	max-width: 600px;
	min-height: 400px;
	min-width: 600px;
	background: radial-gradient(ellipse at bottom, #181f2c 0%, #181f2c 100%);
	/* overflow: hidden; */
}
